.jumbotron .container {
  max-width: 10rem;
}

.navbar-brand img {
  max-width: 20%;
}

h4.small {
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: 1px;
}

footer {
  padding-top: 1rem;
  padding-bottom: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
